{% extends 'base.html' %}

{% load static %}

{% block content %}

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Pitech Ecommerce...</p>
                </div>
            </div>
            
        </header>
        <div class="container">
                <div class="row">
                    <center>
                        <div class="col-8">
<br/><br/>
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id fringilla ex. Etiam dignissim in nibh eget fermentum. Integer gravida, elit sit amet blandit ornare, nulla tellus porta erat, sit amet feugiat velit erat eu diam. Vivamus lacinia ornare sagittis. Morbi aliquet est et odio tempus viverra. Nullam accumsan nisl ac pellentesque luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse potenti.
<br/><br/>
Mauris suscipit nulla in libero vehicula gravida. Quisque et nibh viverra, vulputate nibh ac, posuere odio. Suspendisse aliquet ex sit amet elit euismod porttitor. Maecenas eget turpis non nisi sollicitudin ultricies eu et enim. Donec egestas mattis quam id ullamcorper. Nullam auctor blandit velit. Integer a velit dolor. Maecenas sodales, elit non consectetur iaculis, tellus ante bibendum odio, venenatis mattis quam nisi eleifend diam. Aliquam diam metus, viverra eget elementum id, luctus eget lorem.
<br/><br/>
Fusce ultrices turpis eget fringilla blandit. Sed feugiat turpis eu orci feugiat, et pharetra nisl iaculis. Integer eu placerat risus. Duis suscipit sapien at lectus iaculis, et pretium nulla congue. Nulla commodo, lacus eu vehicula consectetur, nulla arcu accumsan est, congue cursus tellus arcu vel justo. Aliquam eget est at nibh efficitur tempus nec id nisl. Vestibulum semper sapien non diam elementum tincidunt. Sed non ipsum vel leo ultricies hendrerit in quis lacus. Cras congue erat lectus, eu tempor metus tempor vel.
</p>
<br/><br/>
                        </div>
                    </center>

                </div>
        </div>

{% endblock content %}